.history {
    &__container {
        height: 100%;
        min-height: 92vh;
        width: 100vw;

        border: 1px solid black;

        &__single-game {
            height: 150px;
            max-width: 350px;
      
            background-color: rgba(18, 15, 15, 0.458);
            box-shadow: 0px 0px 16px 1px rgb(24, 24, 29);           
            border-radius: 10px;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 1rem;
            padding-left: 1rem;
            gap: 1rem;

            &__header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 1rem;
                position: relative;

                &__game-state {
                    width: 60px;
                    height: 16px;
                    // background-color: rgb(164, 65, 65); LOST
                    //     border-bottom: 6px solid rgb(137, 60, 60); LOST
                    background-color: rgb(40, 85, 40);
                    position: absolute;
                    top: 16px;
                    right: -10px;
                    border-radius: 2px 0px 2px 2px;
                    text-align: center;
                    font-size: 0.8rem;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &::after{
                        content: '';
                        position: absolute;
                        border-bottom: 6px solid rgb(34, 76, 34); 
                        top: -6px;
                        right: 0;
                        border-right: 12px solid transparent;
                    
                    }
                }
            }
            & p{
                font-size: 1.3rem;
            }

            &__other-data {
                display: flex;
                flex-direction: column;
                gap: 0.4rem;
            }

            &__other-data > div{
                display: flex;
                flex-direction: row;
                // justify-content: flex-start;
                gap: 5px;
                vertical-align: middle;
            }
        }

       

    }
    
}